{% extends "section.html" %}

{% block section_js %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	criteria.get_criteria_details("{{ feature_id }}", "{{appname}}");
} );
</script>
{% endblock %}


{% block section %}
{% load filter_tags %}
{% load pydgin_tags %}
{% load disease_tags %}	

{% if criteria.items %}
<div id="criteria-details-wrapper-{{feature_id}}">
<p>{% firstof f|doc_name feature_id %} meets the following criteria:</p>

<div class="row" style="border-bottom: 1px solid #dfd7ca; padding:5px;" >
  <div class="col-md-3" style="font-weight:bold;">Criteria Name</div>
  <div class="col-md-2" style="font-weight:bold;">Details</div>
  <div class="col-md-7" style="font-weight:bold;">Disease Tags</div>
</div>

 {% for cur_feature_id, values in criteria.items %}

	     {% with meta_dict=values.meta_info %}
          {% for cur_criteria, disease_code in values.items %}
       
            {% if cur_criteria != 'all' and cur_criteria != 'meta_info' %}
          
             {% with cur_criteria_key=meta_dict|dict_lookup:cur_criteria %}
 
            <div class="row" id="criteria_row_{{ cur_criteria }}_{{ feature_id }}" style="padding:5px;">
      		<div class="col-md-3">{{ cur_criteria_key|safe }}&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="popover" data-trigger="manual" id="criteria_row_help_{{ cur_criteria }}" data-poload="/faq"></i></div>
      		<div class="col-md-2" id="{{ cur_criteria }}_{{ feature_id}}"></div>
      		<div class="col-md-7">{% show_disease_bar disease_code expand_od=True %}</div>
      		</div>
      		
      		 {% endwith %}
      		 {% endif %}
          {% endfor %}
          	
          	
          {% endwith %}
        
	{% endfor %}
	
{% else %}
<p>No results found</p>
{% endif %}
</div>
{% endblock %}
